body {
    background-image: url("assets/wp4.jpg");
    background-size: 100%;
    color: #FF204E;
}

.sono{
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

#container {
    max-width: 70%;
    margin: 40px auto;
}

.box {
    margin: 15px;
    padding: 5px;
    background-color: lightblue;
    border: 5px dashed teal;
    outline: 10px solid lightblue;
    border-radius: 10px;
}

#title {
    height: 150px;
}

#banner {
    margin: auto;
    height: 100%;
}

#jam {
    float: right;
    height: 100%;
}

.flex {
    display: flex;
    width: 100%;
	flex-wrap: wrap;
}

.side {
    margin: 0 auto 0 auto;
    padding: 15px;

}

.main {
    flex: 1;
    order: 2;
    position: relative;
    padding: 15px;
}

#shonk {
    width: 40%;
    transform: rotate(165deg);
    float: right;
}

#aside {
    width: 300px;
    order: 3;
    padding: 15px;
}

#arts {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#arts img {
    width: 300px;
}

#miku {
    float: right;
    width: 230px;
}

#mikutoo {
    height: 270px;
    position: absolute;
    bottom: -110px;
}

.row {
    display: flex;
	flex-wrap: wrap;
}

.musicbox {
    padding: 10px;
    font-size: 0;
    background-color: teal;
    flex: auto;
}

.video {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 250px;
}

.musicbox h2 {
    font-size: 28px;
    color: lightblue;
    padding-bottom: 2px;
    text-align: center;
}

.subtitle {
    text-align: center;
}

li {
    list-style-type: square;
    margin: 4px 4px 4px 18px;
    font-size: 18px;
}

footer {
    padding: 10px;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #427D71;
    font-weight: bold;
}

a:hover {
  color: #58A399;
}

.musicbox h2 a {
    color: white;
    font-size: 20px;
}

p {
    font-size: 18px;
    margin: 0;
}

.spaced p {
    margin-top: 15px;
}

.next {
    float: right;
    margin: 2px;
}

#small {
    font-size: 20px;
}
