body {
    background-image: url("assets/wp4.jpg");
    background-size: 100%;
    font-family: "Fuzzy Bubbles", sans-serif;
    color: #FF204E;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#container {
    max-width: 70%;
    margin: 40px auto;
}

.box {
    margin: 15px;
    padding: 5px;
    background-color: lightblue;
    border: 5px dashed teal;
    outline: 10px solid lightblue;
    border-radius: 10px;
}

header h1 {
    margin: 8px 0 0 10px;
}

#title {
    height: 150px;
    padding-left: 40px;
}

#jam {
    height: 150px;
    float: right;
}

.flex {
    display: flex;
    width: 100%;
	flex-wrap: wrap;
}

.main {
    flex: 1;
    padding: 20px;
    order: 2;
    position: relative;
}

#shonk {
    width: 40%;
    transform: rotate(165deg);
    float: right;
}

#aside {
    width: 300px;
    padding: 20px;
    order: 3;
}

#arts {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#arts img {
    width: 300px;
}

#miku {
    float: right;
    width: 230px;
}

#miku2 {
    height: 270px;
    position: absolute;
    bottom: -110px;
}

.row {
    display: flex;
	flex-wrap: wrap;
}

.musicbox {
    padding: 10px;
    font-size: 0;
    background-color: teal;
    flex: auto;
}

.video {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 230px;
}

h2 {
    font-size: 2vw;
    color: lightblue;
    padding-bottom: 2px;
    text-align: center;
}

li {
    list-style-type: square;
    margin: 4px 4px 4px 18px;
    font-size: 18px;
}

footer {
    padding: 10px;
    text-align: center;
}

h1, h2, h3, p {
    margin: 0;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #427D71;
    font-weight: bold;
}

a:hover {
  color: #58A399;
}
